__pycache__/
.vscode/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
/datasets
.csv
__init__.py
*.keras
_test*
venv
exp/
test.py
venv
venv*
res
config/conf.yaml
mlruns
mlartifacts
*.xlsx
*.xml
.idea/
git-filter-repo.py
.nfs000000000003c48900000018
test_notebook.ipynb
frontend/videos
